<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--<property name="hibernate.bytecode.use_reflection_optimizer">false</property>-->
        <!--<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>-->
        <!--<property name="hibernate.connection.password">500NSczx</property>-->
        <!--<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbtelecom</property>-->
        <!--<property name="hibernate.connection.username">root</property>-->
        <!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>-->
        <!--<property name="hibernate.current_session_context_class">thread</property>-->

	    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
	    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
	    <property name="hibernate.connection.url">jdbc:postgresql://127.0.0.1:5432/dbtelecom</property>
	    <property name="hibernate.connection.username">postgres</property>
	    <property name="hibernate.connection.password">password</property>

	    <property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>
	    <property name="hibernate.c3p0.min_size">7</property>
	    <property name="hibernate.c3p0.max_size">53</property>
	    <property name="hibernate.c3p0.timeout">100</property>
	    <property name="hibernate.c3p0.max_statements">50</property>
	    <property name="hibernate.c3p0.idle_test_period">1000</property>
	    <property name="hibernate.c3p0.validate">true</property>
	    <property name="hibernate.show_sql">true</property>
	    <property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider</property>
	    <property name="hibernate.hbm2ddl.auto">create</property>

        <mapping class="ru.aryukov.model.Role"/>
        <mapping class="ru.aryukov.model.ClientEntity"/>
        <mapping class="ru.aryukov.model.ContractEntity"/>
        <mapping class="ru.aryukov.model.TarifEntity"/>
        <mapping class="ru.aryukov.model.OptionsEntity"/>


    </session-factory>
</hibernate-configuration>